<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- ===================== -->
    <!--        PROPERTIES     -->
    <!-- ===================== -->
    <property name="CONSOLE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %logger{5} [%X{reqId}] %msg %n"/>

    <!-- ===================== -->
    <!--        APPENDERS      -->
    <!-- ===================== -->

    <!-- 기본 콘솔 (local 전용, 색상 포함) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 배포용 콘솔 (색상 제거 + yyyy만 출력) os syslog 자동으로 붙어서 yyyy만 필요 -->
    <appender name="STDOUT_PROD" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy} [%thread] [%-3level] %logger{5} [%X{reqId}] %msg %n</pattern>
        </encoder>
    </appender>

    <!-- ===================== -->
    <!--        LOCAL PROFILE  -->
    <!-- ===================== -->
    <springProfile name="local">
        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>

        <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG"/>
    </springProfile>

    <!-- ===================== -->
    <!--     NON-LOCAL PROFILE -->
    <!-- ===================== -->
    <springProfile name="!local">

        <root level="info">
            <appender-ref ref="STDOUT_PROD"/>
            <!--aws beanstalk는 이미 s3에 로그 보관하니 파일로 안남겨도 됨 -->
        </root>

        <logger name="org.springframework.jdbc.core.JdbcTemplate" level="ERROR"/>
        <logger name="org.hibernate.SQL" level="ERROR"/>

    </springProfile>

</configuration>